
:root {
    --main-color: #DEB8AB;
    --highlight: #f1c6b8;
    --main-text: #423632;
    scrollbar-gutter: stable;
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Inter", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  background-color: #fff;
}

body {
    width: 100%;
    min-height: 100vh;
    max-width: 90rem;
    margin: auto;
    box-shadow: 0 0 15rem #9c786d;
}

.main {
    display: flex;
    flex-direction: column;
}
.coming_soon_container {
    display: flex;
    justify-content: center;
    background-color: #F0E6DA;
}
.coming_soon {
    height: calc(100vh - 400px);
    min-height: 500px;
    max-width: 100%;
    width: 100%;
    object-fit: contain;
    object-position: top center;
}

.input_container {
    position: relative;
    width: 100%;

}

.input_container label {
    /* position: absolute;
    content: '';
    top: -10px;
    left: 12px; */
    /* background-color: #fff; */
    /* font-size: 12px; */
    color: #807b7a;
    padding: 0 2px;


    font-size: 14px;
    padding: 0;
    margin-bottom: 10px;

}

.input_container input, .input_container textarea {
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid var(--main-color);
    width: 100%;
    margin-top: 5px;

}

.input_container textarea {
    resize: none;
    height: 130px;
}

.input_container input:focus, .input_container textarea:focus {
    outline: 2px solid var(--main-color);
}